@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Libre+Baskerville:wght@400;700&display=swap');

body {
    font-family: 'Libre Baskerville', serif; /* Body text font */
}

.contact-container {
    display: flex;
    gap: 10px; 
    padding: 0 20px 20px 20px 20px;
    align-items: stretch;
}

.left-side {
    min-width: 300px;
}

#map iframe {
    width: 418px;
    height: 364px;
    border: none;
}

.map-details {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
}

.map-details .social-media {
    margin-top: 10px;
}

.map-details .social-media img {
    width: 24px;
    height: 24px;
}

.divider {
    width: 2px;
    background-color: #94984A; 
    margin: 0 20px; 
    height: auto;
    align-self: stretch; 
}

.right-side {
    min-width: 300px;
}

.right-side h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
    color: #f39c12;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

form input, form textarea {
    font-family: 'Libre Baskerville', serif; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    font-family: 'Montserrat', sans-serif; 
    padding: 10px 20px;
    background-color: #94984A; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #7d7f3d; 
}